.exchange {
  margin: 1em;
}

.btn-col {
  display: flex;
}

.xc-btn {
  align-self: stretch;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: color;
  border-radius: 10%;
}

.buy-btn {
  color:forestgreen;
  border-color: forestgreen;
}

.buy-btn:hover {
  background-color: forestgreen;
  color: black;
}

.buy-recommend {
  animation: buyFlashing 1s infinite;
}

@keyframes buyFlashing {
  0% {color:greenyellow; border-color: greenyellow;}
  50% {color:forestgreen; border-color: forestgreen;}
  100% {color:greenyellow; border-color: greenyellow;} 
}

.sell-btn {
  color: red;
  border-color: red;
}

.sell-btn:hover {
  background-color: red;
  color: black;
}

.sell-recommend {
  animation: sellFlashing 1s infinite;
}

@keyframes sellFlashing {
  0% {color:hotpink; border-color: hotpink;}
  50% {color:red; border-color: red;}
  100% {color:hotpink; border-color: hotpink;} 
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

logo {
  width: 100%;
  height: 100%;
}
